* {
  padding: 0;
  margin: auto;

  }
body {
  background-color: #7b6898;

}
#headerH1 {
  position: absolute;
  right: 30px;
  top: 180px;
  color: white;
  font-family: fantasy;
}

.header {
  background-image: url("./The-Magic-of-Perspective-header.jpeg");
 background-position: center;
background-repeat: no-repeat;
position: relative;
background-size: cover;
height: 240px;
margin-bottom: 50px;
text-align: center;
}

.listCharacters {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  gap: 0.625%;
  
}
a {
  flex: 1;
  text-decoration: none;
  outline: none;
  text-align: center;
  line-height: 3;
  color: white;
  font-size: x-large;
  border: 2px solid #020202;
  border-radius: 20%;
  background-color: #8d5980;
  
}
a:hover {
  color: #43454a;
}

.cards {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.card {
  margin: 1rem;
  box-shadow: 0 0 7px 0 purple;
  border-radius: 30px;
  border: 1px solid #ccc;
  width: 300px;
}
.card .image {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

.card .image h1, h3 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 0.25rem;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  border-bottom-right-radius: 5px;
  background: white;
  
}

h2 {
  font-family: cursive;
  color: antiquewhite;
  width: fit-content;
}

.card .image img {
  max-width: 300px;
  max-height: 225px;
  width: auto;
  height: auto;
}

.card .details {
  padding: 0.5rem;
}

.details {
  font-family: serif;
  font-size: 1rem;

}

div#selectMenu {
  text-align: center;
  padding-top: 20px;
}
select {
  font-family: fantasy;
  font-size: larger;
}

.housesContainer {
    display: flex;
    gap: 6%;
    
}
.housesContainer :hover {
  background-color: #a73d82;
}

#headerForHouses {
  font-size: larger;
  display: table;
  color: bisque;
  padding-left: 30px;
  font-family: fantasy;
}

span {
  margin: 1rem;
  box-shadow: 0 0 7px 0 purple;
  border-radius: 0;
  border: 1px solid #ccc;
  width: 300px;
  height: 400px;
}
#imgLogo {
  height:340px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}

p.text {
    padding-top: 40px;
    font-size: larger;
    color: ghostwhite;
    font-family: fantasy;
}

button {
  background-color: #ac4ba0;
  position: inherit;
  width: -webkit-fill-available;
  font-size: unset;
  border-radius: 20%;
}

.submitBtn{
  background-color: #8f5487;
  width: 150px;
  height: 30px;
  border-radius: 40%;
}

.NewCharacter{
  text-align: center;
  font-size: x-large;
  font-family: fantasy;
}

.newChar {
  height: 225px;
  position: relative;
  width: 300px;
  display: flex;
  justify-content: center;
}